doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title About Us - Study Smart AU
    link(rel="stylesheet" href="/public/styles.css")
  body
    .about-container
      h2 About Us
      p
        | Welcome to Study Smart AU! We are dedicated to providing the best educational resources 
        | and support to help students achieve their academic goals.
      
      h3 Our Mission
      p
        | Our mission is to empower students with the tools and knowledge they need to succeed in 
        | their studies. We strive to create an engaging and supportive learning environment.
      
      h3 Our Values
      ul
        li Integrity: We believe in honesty and transparency.
        li Excellence: We are committed to high-quality education.
        li Community: We foster a supportive and collaborative community.
      
      h3 Contact Us
      p
        | If you have any questions, feel free to 
        a(href="/contact") contact us!
